/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  margin: 75% 0;
}
.content {
  height: 100vh;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
  font-size: 50px;
} */
